.b-menu {
  //mobile
  @media (max-width: @screen-xs-min) {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background: @white-font;
    margin: 0;
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    .g-center;
    margin: 10px 0 50px 0;
  }
}

.b-menu-header {
  //mobile
  @media (max-width: @screen-xs-min) {
    display: block;
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    display: none;
  }
  padding: 20px 0;
  border-bottom: 1px solid @gray;
  text-align: center;
  .close {
    position: absolute;
    left: 15px;
    top: 16px;
    .g-font-bold(26px);
    color: @black-font;
    opacity: 1;
  }
}

.b-menu-label {
  text-transform: uppercase;
  .g-font-bold(15px);
  .g-black-link();
}

.b-menu-main {
  text-transform: uppercase;
  border-bottom: 1px solid @gray;

  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    white-space: nowrap;
  }
  //mobile
  @media (max-width: @screen-xs-min) {
    li {
      text-align: center;
      margin-top: 15px;
    }

    li:last-child {
      margin-bottom: 15px;
    }
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    margin: 0 auto;
    padding-bottom: 6px;
    li {
      margin: 0 50px 0 0;
      display: inline;
    }

    li:last-child {
      margin: 0;
    }
  }

  a {
    font: 15px GothamProMedium;
    .g-font-medium(15px);
    .g-black-link;
  }
}

.b-menu-example {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    white-space: nowrap;
  }
  //mobile
  @media (max-width: @screen-xs-min) {
    li {
      text-align: center;
      margin-top: 15px;
    }

    li:last-child {
      margin-bottom: 15px;
    }
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    margin: 4px 0 0 0;
    li {
      margin: 0 13px 0 0;
      padding: 0 13px 0 0;
      display: inline;
      border-right: solid 1px @gray;
    }

    li:last-child {
      border: 0px;
    }
  }

  a {
    .g-font-light(14px);
    color: @gray-font;
    text-transform: capitalize;
    text-decoration: none;
  }
}

.b-menu-image {
  .g-center;
}

.b-menu-image-row {
  word-spacing: -.3em;
}

.b-menu-image-item {
  .g-center;
  vertical-align: top;
  display: inline-block;
  position: relative;
  padding: 0;

  //mobile
  @media (max-width: @screen-xs-min) {
    margin: 0 0px 10px 0;
    height: 100px;
    width: 100%;
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    width: 184px;
    margin: 0 10px 10px 0;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.b-menu-image-item__label {
  .g-center;
  width: 100%;
  word-spacing: 0.0em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.b-menu-image-item__img {
  //mobile
  background-size: cover;
  @media (max-width: @screen-xs-min) {
    height: 100px;
    width: 100%;
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    width: 184px;
    height: 240px;
  }
}

.b-menu-image-item__img_hair {
  background-image: url(/images/main/hair.png);
  @media (max-width: @screen-xs-min) {
    background-position: 0 -150px;
  }
}

.b-menu-image-item__img_nails {
  background-image: url(/images/main/nails.png);
  @media (max-width: @screen-xs-min) {
    background-position: 0 -119px;
  }

}

.b-menu-image-item__img_makeup {
  background-image: url(/images/main/makeup.png);
  @media (max-width: @screen-xs-min) {
    background-position: 0 -188px;
  }

}

.b-menu-image-item__img_depilation {
  background-image: url(/images/main/depilation.png);
  @media (max-width: @screen-xs-min) {
    background-position: 0 -35px;
  }

}

.b-menu-image-item__img_permanent-makeup {
  background-image: url(/images/main/permanent-makeup.png);
  @media (max-width: @screen-xs-min) {
    background-position: 0 -57px;
  }

}

.b-menu-image-item__title {
  @media (max-width: @screen-xs-min) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.6);

    .title {
      .b-menu-image-item__label();
    }
  }
  //desktop
  @media (min-width: @screen-xs-min) {
    color: @gray-font;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: 0.0em
  }
}